@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root {
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--Violet);
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

svg{
    width: 90%;
    height: 90%;
    fill: #fff;
}

.container{
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-items: center;
}

.card__huddle{
    width: 100%;
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem 2.2rem ;
    padding-bottom: 0;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding:1rem 2px;
}

.header__logo{
    width: 45%;
}

.card__info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card__info > h2{
    font-size: 1.6rem;
    letter-spacing: .5px;
    line-height: 2.3rem;
    color: #fff;
}

.card__info > p{
    line-height: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #dadada;
}


.card__info > button{
    padding: 1rem;
    border-radius: 2rem;
    width: 80%;
    border:1px solid var(--Violet);
    box-shadow: 1px 1px 5px black;
    color: var(--Violet);
    font-weight: 400;
}

.card__footer{
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icono a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 50%;
}



@media (min-width:1140px) {
    body{
        background-image: url(/images/bg-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }


    .card__huddle{
        display: grid;
        place-items: end;
        grid-template-columns: repeat(2,1fr);
        background-image: none;
        gap: 0;
        position: relative;
    }

    .header{
        grid-column: 1 / 2;
    }

    .card__info{
        grid-column: 2 / 3;
        text-align: left;
        align-items: flex-start;
        position: relative;
        right: 0;
        gap: 0;
        top: 0px;
        height: 100%;
        gap: 1rem;
    }

    .card__info > h2{
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .card__info button{
        width: 50%;
    }

    .card__footer{
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        bottom: 0;
    }

}